# gitignore
src/__pycache__/
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pdm-python

# IDE/Editor files
.idea/
.vscode/
*.swp
*.swo

# OS Specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project specific
downloads_folder/
downloads/
*.log

reports_generator/.env
UpToCure/.venv
UpToCure/src/__pycache__